
.gradation-button {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  @include themify($themes) {
    transition: all 0.3s ease-in-out;
    background: linear-gradient(-135deg, themed('gradationL'), themed('gradationR'));
    // box-shadow: 0px 0px 10px 2px themed('shadow');
  }
  &__link {
    cursor: pointer;
    @include default-link;
    &:hover, [disabled] > .gradation-button {
      @include themify($themes) {
        transition: all 0.3s ease-in-out;
        background: linear-gradient(-135deg, lighten(themed('gradationL'), 20%), lighten(themed('gradationR'), 20%));
      }
    }
  }
  .gradation-button__items {
    transition: all 0.3s ease-in-out;
    text-decoration: none !important;
    clear: both;
    &-text {
      @include FS(FM);
      @include FM(B);
      text-decoration: none !important;
      @include themify($themes) {
        color: themed('complementaryString');
      }
      float: left;
      margin-left: 8px;
    }
    &-image {
      float: left;
      text-decoration: none !important;
      @include svg-set() {
        @include themify($themes) {
          transition: all 0.3s ease-in-out;
          stroke: themed('complementaryString') !important;
          fill: themed('complementaryString')!important;
        }
      }
    }
  }
}

.gradation-red-button {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  @include themify($themes) {
    transition: all 0.3s ease-in-out;
    background: linear-gradient(-135deg, themed('subGradationL'), themed('subGradationR'));
    // box-shadow: 0px 0px 10px 2px themed('shadow');
  }
  &__link {
    cursor: pointer;
    @include default-link;
    &:hover, [disabled] > .gradation-red-button {
      @include themify($themes) {
        transition: all 0.3s ease-in-out;
        background: linear-gradient(-135deg, lighten(themed('subGradationL'), 20%), lighten(themed('subGradationR'), 20%));
      }
    }
  }
  .gradation-button__items {
    transition: all 0.3s ease-in-out;
    text-decoration: none !important;
    clear: both;
    &-text {
      @include FS(FM);
      @include FM(B);
      text-decoration: none !important;
      @include themify($themes) {
        color: themed('complementaryString');
      }
      float: left;
      margin-left: 8px;
    }
    &-image {
      float: left;
      text-decoration: none !important;
      @include svg-set() {
        @include themify($themes) {
          transition: all 0.3s ease-in-out;
          stroke: themed('complementaryString') !important;
          fill: themed('complementaryString')!important;
        }
      }
    }
  }
  .gradation-button__items {
    transition: all 0.3s ease-in-out;
    text-decoration: none !important;
    clear: both;
    &-text {
      @include FS(FM);
      @include FM(B);
      text-decoration: none !important;
      @include themify($themes) {
        color: themed('complementaryString');
      }
      float: left;
      margin-left: 8px;
    }
    &-image {
      float: left;
      text-decoration: none !important;
      @include svg-set() {
        @include themify($themes) {
          transition: all 0.3s ease-in-out;
          stroke: themed('complementaryString') !important;
          fill: themed('complementaryString')!important;
        }
      }
    }
  }
}

.gradation-blue-button {
  transition: all 0.3s ease-in-out;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  text-align: center;
  @include themify($themes) {
    transition: all 0.3s ease-in-out;
    background: linear-gradient(-135deg, themed('complementaryGradationL'), themed('complementaryGradationR'));
    // box-shadow: 0px 0px 10px 2px themed('shadow');
  }
  &__link {
    cursor: pointer;
    @include default-link;
    &:hover, [disabled] > .gradation-blue-button {
      @include themify($themes) {
        transition: all 0.3s ease-in-out;
        background: linear-gradient(-135deg, lighten(themed('complementaryGradationL'), 20%), lighten(themed('complementaryGradationR'), 20%));
      }
    }
  }

  .gradation-button__items {
    transition: all 0.3s ease-in-out;
    text-decoration: none !important;
    clear: both;
    &-text {
      @include FS(FM);
      @include FM(B);
      text-decoration: none !important;
      @include themify($themes) {
        color: themed('complementaryString');
      }
      float: left;
      margin-left: 8px;
    }
    &-image {
      float: left;
      text-decoration: none !important;
      @include svg-set() {
        @include themify($themes) {
          transition: all 0.3s ease-in-out;
          stroke: themed('complementaryString') !important;
          fill: themed('complementaryString')!important;
        }
      }
    }
  }
}

#gradation_button_submit {
  padding: 0px !important;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: none;
  @include themify($themes) {
    //background: themed('trasparent');
  }
}
