node_modules
.DS_Store
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
.apdisk

tmp
dist

jupyter
docker
w2v-min_count_10_window_10_workers_4_size_150.model
w2v-min_count_10_window_1_workers_4_size_150.model
w2v-min_count_10_window_1_workers_4_size_10.model
w2v-min_count_10_window_3_workers_4_size_150.model
w2v-min_count_10_window_10_workers_4_size_150.model
w2v-min_count_10_window_10_workers_4_size_150.model
w2v-min_count_10_window_10_workers_4_size_150.model
w2v-min_count_10_window_5_workers_4_size_10.model
w2v-min_count_10_window_5_workers_4_size_100.model
w2v-min_count_10_window_5_workers_4_size_150.model
w2v-min_count_10_window_5_workers_4_size_50.model
w2v-min_count_10_window_7_workers_4_size_150.model

word2vec.gensim.model
word2vec.gensim.model.syn1neg.npy
word2vec.gensim.model.wv.syn0.npy

crawlers_data.csv
