.DS_Store
.idea
coverage
node_modules
docker
*.log
dist
vendor/*
tmp/*
.vagrant
lib
cabocha-0.69
cabocha-0.69/*

__pycache__/

ads.txt
.env
env.json
*/db/config/config.json

*.numbers
*.csv

.node-*

jupyter

docker-compose.yml
docker-server-entrypoint.sh
