
.private-key-show {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 120px 0%;
  @include themify($themes) {
    background: themed('backgroundBlur');
  }
  @include mq-down(md) {
    padding: 0 !important;
    @include themify($themes) {
      background: themed('background');
    }
  };
  &__button {
    border-radius: 50px;
    cursor: pointer;
    @include FM(M);
    font-size: 75px;
    border: none;
    position: fixed;
    top: 25px;
    right: 50px;
    z-index: 999;
    width: 75px;
    height: 75px;
    background: rgba(0, 0, 0, 0);
    @include themify($themes) {
      color: themed('background');
    }
    @include mq-down(md) {
      position: fixed;
      top: 25px;
      right: 50px;
      z-index: 999;
      width: 44px;
      height: 44px;
      font-size: 0px;
    };
  }
  &__body {
    margin: 0% auto;
    width: 900px;
    @include mq-down(lg) {
      width: 700px;
    };
    @include mq-down(md) {
      width: 100%;
    };
    @include themify($themes) {
      background: themed('background');
    }
    padding: 20px;
    &-title {
      // margin: 44px auto;
      width: 100%;
      height: 44px;
      text-align: center;
      @include FM(B);
      @include FS(M);
      @include themify($themes) {
        color: themed('backgroundContrast');
        border-bottom: solid 1px themed('border');
        background: themed('background');
      }
    }
    &-text {
      margin: 22px auto;
      padding: 10px;
      width: 100%;
      min-height: 44px;
      text-align: center;
      @include FM(R);
      @include FS(S);
      @include themify($themes) {
        color: themed('danger');
        background: themed('background');
      }
    }
    &-values {
      margin: 22px;
    }
    &-value {
      width: 100%;
      height: 100%;
    }
  }
}
