{
    "JWT_SECRET": "JWT_SECRET",
    "ADDRESS": "XXX",
    "CREATE_USER_SECRET": "XXX",
    "CREATE_USER_URL": "XXX",
    "TWILIO_ACCOUNT_SID": "XXX",
    "TWILIO_AUTH_TOKEN": "XXX",
    "TWILIO_SERVICE_SID": "XXX",
    "TWILIO_PHONE_NUMBER": "XXX",
    "RECAPTCHA_SITE_KEY": "XXX",
    "RECAPTCHA_SECRET": "XXX",
    "CONVEYOR_POSTING_WIF": "XXX",
    "CONVEYOR_USERNAME": "XXX",
    "SENDGRID_API_KEY": "XXX",
    "GOOGLE_CLIENT_ID": "XXX",
    "GOOGLE_AUTHORIZED_DOMAINS": "XXX",
    "MNENOMIC": "XXX",
    "INFURA_API_KEY": "XXX",
    "RXTOKEN_CONTRACT_ADDRESS": "0xXXX",
    "PYTHON_PATH": "/usr/local/bin/python3",
    "CORPUS_CSV_PATH": "src/python-scripts/util/crawlers_data.csv",
    "google_analytics_id": false,
    "helmet": {
        "directives": {
            "childSrc": "'self' https://googleads.g.doubleclick.net/ player.twitch.tv www.youtube.com staticxx.facebook.com w.soundcloud.com player.vimeo.com https://onesignal.com",
            "connectSrc": "'self' file: data: blob: filesystem: api.blocktrades.us https://selfinity.s3.amazonaws.com https://selfinity.s3.ap-northeast-1.amazonaws.com https://onesignal.com/api/v1/players https://onesignal.com/api/v1/notifications https://onesignal.com/api/v1/* https://onesignal.com https://www.google-analytics.com/j/collect https://www.google-analytics.com/*",
            "defaultSrc": "'self' blob: www.youtube.com staticxx.facebook.com player.vimeo.com",
            "fontSrc": "data: fonts.gstatic.com",
            "frameAncestors": "'none'",
            "imgSrc": "* data: filesystem: file: blob: ws: wss:",
            "objectSrc": "'none'",
            "pluginTypes": "application/pdf",
            "scriptSrc": "'self' 'unsafe-inline' https://pagead2.googlesyndication.com https://www.googletagservices.com/activeview/js/current/osd.js https://www.googletagservices.com/* https://pagead2.googlesyndication.com/* https://www.googletagservices.com/activeview/js/current/osd.js https://www.googletagservices.com/* www.google-analytics.com connect.facebook.net https://cdn.onesignal.com/sdks/OneSignalSDK.js https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js https://cdn.onesignal.com https://www.googletagmanager.com/gtag/js https://pagead2.googlesyndication.com https://pagead2.googlesyndication.com/pagead/js/* https://pagead2.googlesyndication.com/pub-config/* https://googleads.g.doubleclick.net/ https://onesignal.com https://adservice.google.co.jp https://pagead2.googlesyndication.com https://adservice.google.com/adsid/integrator.js https://pagead2.googlesyndication.com/pagead/js/* https://pagead2.googlesyndication.com",
            "styleSrc": "'self' 'unsafe-inline' fonts.googleapis.com https://onesignal.com/sdks/OneSignalSDKStyles.css https://onesignal.com/sdks/*",
            "reportUri": "/api/v1/csp_violation"
        },
        "reportOnly": false,
        "setAllHeaders": true
    },
    "server_session_secret": "XXX",
    "session_cookie_key": "XXX",
    "session_key": "XXX",
    "site_domain": "XXX",
    "tarantool": {
        "host": "localhost",
        "password": "",
        "port": "3301",
        "username": "guest"
    },
    "img_proxy_prefix": "XXX",
    "telesign": {
        "customer_id": false,
        "rest_api_key": false
    },
    "twilio": {
        "account_sid": false,
        "auth_token": false
    },
    "pinned_posts_url": false,
    "rx_wallet": {
        "address": "0xXXX",
        "privateKey": "0xXXX"
    },
    "NEXMO": {
        "KEY": "XXX",
        "SECRET": "XXX"
    },
    "AWS": {
        "BUCKET": "selfinity",
        "REGION": "ap-northeast-1",
        "ACCESS_KEY_ID": "XXX",
        "SECRET_ACCESS_KEY": "XXX"
    },
    "SELFTOKEN": {
        "CONTRACT_ADDRESS": "0xXXX",
        "CONTRACT_DECIMALS": 18,
        "NETWORK_ID": "3",
        "CROWD_ADDRESS": "0xXXX",
        "OWNER": "0xXXX",
        "OWNER_PRIVATE_KEY": "XXX"
    },
    "MAINNET": {
        "CONTRACT_ADDRESS": "0xXXX",
        "CONTRACT_DECIMALS": 18,
        "NETWORK_ID": "3",
        "CROWD_ADDRESS": "0xXXX",
        "OWNER": "0xXXX",
        "OWNER_PRIVATE_KEY": "XXX"
    },
    "PRIVATE_CHAIN": {
        "HOST": "internal-selft-LoadB-XXX.us-east-1.elb.amazonaws.com",
        "PORT": 8545,
        "URL": "http://internal-selft-LoadB-XXX.us-east-1.elb.amazonaws.com:8545"
    },
    "API": {
        "KEY": "e47be6d0-89d7-11e9-8cb4-374fed3b56f3",
        "PASSWORD": "XXX"
    },
    "GOOGLE": {
        "AD_CLIENT": "XXX",
        "AD_SLOT": "XXX",
        "ANALYSTICS_CLIENT": "XXX"
    },
    "TWITTER": {
        "KEY": "XXX",
        "SECRET": "XXX",
        "ACCESS_TOKEN": "XXX",
        "ACCESS_TOKEN_SECRET": "XXX"
    },
    "FACEBOOK": {
        "ID": "XXX",
        "SECRET": "XXX"
    },
    "INSTAGRAM": {
        "ID": "XXX",
        "SECRET": "XXX"
    },
    "ONESIGNAL": {
        "APP_ID": "XXX",
        "USER_AUTH_KEY": "XXX",
        "APP_AUTH_KEY": "XXX"
    }
}
