.embed-navigator {
  position: relative;
  height: 100%;
  &-item {
    position: absolute;
    // border-radius: 50%;
    border: none;
    top: -18px;
    right: -16px;
    transform: rotate(-5deg);
    // width: 44px;
    // height: 44px;
    z-index: 10;
  }
  &-body {
    height: 100%;
  }
}
