
.balloon {
  @include init_wh();
  position: absolute;
  top: 0px;
  left: 0px;
  &__wrap {
    z-index: 100;
    // position: relative;
    @include init_wh();
    cursor: pointer;
    &-body {
      // position: fixed;
      // transition: all 0.1s ease-in-out;
    }
    &-arrow {
      background: #fff;
      width: 7.07106781px;
      height: 7.07106781px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      position: absolute;
      display: block;
      border-color: transparent;
      border-style: solid;
    }
  }
}



#balloon.right
{
  margin-left: 5px;
}

#balloon.left
{
  margin-left: -5px;
}

#balloon.top
{
  margin-top: -5px;
}

#balloon.bottom
{
  margin-top: 5px;
}

#balloon .balloon-arrow
{
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}

#balloon.right .balloon-arrow
{
  top: 50%;
  left: auto;
  margin-left: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}



#balloon.top .balloon-arrow
{
  top: auto;
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}

#balloon.left .balloon-arrow
{
  top: 50%;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000;
  right: -5px;
  left: auto;
}

#balloon.bottom .balloon-arrow
{
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}

#balloon .balloon-arrow
{
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-right-color: transparent;
  border-style: solid;
}

#balloon .balloon-inner
{
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 4px;
}

#balloon.on
{
  display: block;
}

#balloon.off
{
  display: none;
}
