
.home-item {
  position: relative;
  border-radius: 15px;
  padding-bottom: 8px;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: all 0.3s ease-in-out;
  @include themify($themes) {
    background: themed('background');
    box-shadow: 0px 0px 4px 2px themed('shadow');
  }
  &__link {
    cursor: pointer;
    @include default-link;
    &:hover > .home-item {
      @include themify($themes) {
        transition: all 0.3s ease-in-out;
        background: darken(themed('background'), 3%) !important;
      }
    }
    &:hover > .conditional-background > .home-item {
      @include themify($themes) {
        transition: all 0.3s ease-in-out;
        background: darken(themed('background'), 3%) !important;
      }
    }
  }

  &__button {
    margin: 8px auto;
    margin-bottom: 0px;
    width: calc(100% - 22px);
    height: 40px;
  }

  &__title {
    display: block;
    @include FS(FM);
    @include FM(B);
    text-align: center;
    padding: 12px 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    @include themify($themes) {
      color: themed('string');
    }
    @include mq-down(sm) {
      padding: 12px 10px;
      @include FS(S);
    }
  }

  &__user {
    width: 100%;
    height: 32px;
  }

  &__border {
    height: 1px !important;
    width: calc(100% - 20px);
    margin: 0px 10px;
    @include themify($themes) {
      background: themed('border');
    }
  }
  &__body {
    text-align: left;
    padding: 12px;
    max-height: 185px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
    @include FS(FS);
    @include LH(FS);
    @include FM(M);
    @include themify($themes) {
      color: themed('string');
    }
    .align &  {
      height: 93px;
      @include mq-down(sm) {
        height: 67px;
      };
    }
  }

  &__labels {
    width: 100%;
    margin: 0 10px;
    padding: 0 10px;
    max-height: 44px !important;
  }

  &__foot {
    height: 44px;
  }
}
