// Name point-size
// Desc
// Return
@mixin point-size() {
  .S & {
    clear: both;
    height: 20px;
    &__link {
      cursor: pointer;
      @include default-link;
      &:hover > .point__image {
        @include svg-set() {
          @include themify($themes) {
            transition: all 0.3s ease-in-out;
            stroke: lighten(themed('sub'), 20%) !important;
            fill: lighten(themed('sub'), 20%)!important;
          }
        }
      }
    }
    &__image {
      float: left;
      @include svg-set() {
        @include themify($themes) {
          transition: all 0.3s ease-in-out;
          stroke: themed('sub') !important;
          fill: themed('sub')!important;
        }
      }
    }
    &__score {
      height: 20px;
      padding: 10px 0px;
      float: left;
      margin-left: 4px;
      @include FM(R);
      @include FS(S);
      line-height: 0 !important;
      // @include themify($themes) {
      //   transition: all 0.3s ease-in-out;
      //   color: themed('backgroundThick');
      // }
    }
    @content;
  }
  .M & {
    clear: both;
    height: 30px;
    &__link {
      cursor: pointer;
      @include default-link;
      &:hover > .point__image {
        @include svg-set() {
          @include themify($themes) {
            transition: all 0.3s ease-in-out;
            stroke: lighten(themed('sub'), 20%) !important;
            fill: lighten(themed('sub'), 20%)!important;
          }
        }
      }
    }
    &__image {
      float: left;
      @include svg-set() {
        @include themify($themes) {
          transition: all 0.3s ease-in-out;
          stroke: themed('sub') !important;
          fill: themed('sub')!important;
        }
      }
    }
    &__score {
      height: 100%;
      padding: 15px 0px;
      float: left;
      margin-left: 6px;
      @include FM(R);
      @include FS(FM);
      line-height: 0 !important;
      @include themify($themes) {
        transition: all 0.3s ease-in-out;
        color: themed('backgroundThick') !important;
      }
    }
    @content;
  }
  .L & {
    clear: both;
    height: 44px;
    &__link {
      cursor: pointer;
      @include default-link;
      &:hover > .point__image {
        @include svg-set() {
          @include themify($themes) {
            transition: all 0.3s ease-in-out;
            stroke: lighten(themed('sub'), 20%) !important;
            fill: lighten(themed('sub'), 20%)!important;
          }
        }
      }
    }
    &__image {
      float: left;
      @include svg-set() {
        @include themify($themes) {
          transition: all 0.3s ease-in-out;
          stroke: themed('sub') !important;
          fill: themed('sub')!important;
        }
      }
    }
    &__score {
      height: 100%;
      padding: 15px 0px;
      float: left;
      margin-left: 6px;
      @include FM(B);
      @include FS(M);
      line-height: 0 !important;
      @include themify($themes) {
        transition: all 0.3s ease-in-out;
        color: themed('backgroundThick') !important;
      }
    }
    @content;
  }
}

.point {
  @include point-size();
}
