.App {
  min-height: 100vh;
  padding-top: 62px;
  &__grid {
    width: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
  }
  &__row {
    padding: 0px !important;
  }
  &__col {
    padding: 0px !important;
  }
}



.header-hidden {
  height: 100vh !important;
  padding-top: 0px !important;
}
