$color-white: #fff;
$color-clear-white: rgba(255,255,255,0.7);
$color-black: #000;
$color-light-black: #313131;
$blur-black: rgba(0,0,0,0.5);
$color-clear-black: rgba(0,0,0,0.3);
$color-orenge: #FFA500;
$color-light-orenge: #F8B51E;
$color-thick-orenge: #F87A1E;
$color-yelow: #FFDA0D;
$color-red-orenge: #F87A1E;
$color-gold: #DAA520;
$color-red: #ff0264;
$color-pastel-red: #ff555e;
$color-blue: #13B4FC;
$color-clear-blue: rgba(19,180,252,0.5);
$color-light-gray: #F4F4F4;
$color-gray: #666666;
$color-gradation-bright-blue: #13FCD8;
$color-gradation-dark-blue: #1C8DFF;
$color-gradation-bright-red: #FFE943;
$color-gradation-dark-red: $color-red;
$color-gradation-bright-orenge: $color-orenge;
$color-gradation-dark-orenge: $color-gold;
$color-green: #27E8B3;

$color-transparent: transparent;
